{% extends 'base.html.twig' %}

{% block main %}
    <style>
        #banner {
            min-height: 100vh;
        }
        body {
            font-size: 20px !important;
        }
        ol {
            width: 80%;
        }
        li {
            padding: 10px 0;
        }
    </style>
    <article id="banner">
        <h1>Écriture inclusive</h1>
        <h5>Définition :</h5>
        "L’écriture inclusive consiste à faire apparaître le feminin dans nos usages linguistiques quotidiens."
        <h5>Six manières de classer l’écriture inclusive :</h5>

    <ol>
        <li>        Travailler à l’usage d’expressions plus justes et moins discriminatives, telle que la suppression de la case “mademoiselle” dans les documents administratifs, ou encore qualifier la journée du 8 mars en tant que journée des droits de la femme et non de la journée de la femme.
        </li>
        <li>     Introduire l’usage des noms féminins de métiers, pour des métiers exercés par des femmes : l’académie française s’est battue contre pendant 35 ans. Par exemple, préférer désigner une femme au poste de ministre comme madame la ministre au lieu de madame le ministre, une femme au poste de maitre de conférence en tant que maitresse de conférence, etc. Cet usage des noms de métiers féminins a seulement été acté par l'académie française il y a 18 mois !
        </li>

        <li>Utiliser la double flexion ou réduplication dès que possible. Par exemple, s’adresser aux femmes et aux hommes dans le discours au travers des formules “bonjour à toutes et à tous”, “mesdames et messieurs”, “celles et ceux”. C’est Charles de Gaulle qui a été la première personne à instaurer cette réduplication dans ses discours en s’adressant aux “citoyennes et citoyens” ou encore aux “françaises” et “français”. C’est également sous son régime que le droit de vote des femmes a vu le jour.
        </li>
        <li>
        Les abréviations écrites afin de faire apparaître les femmes au même titre que les hommes : étudiant.es ou instituteurices, etc.
        </li>
        <li>
        Abandonner la règle grammaticale du masculin qui prend le dessus sur le féminin : par exemple dans un groupe ou il y a plus de femmes que d’autres dire “elles” au lieu de “eux” ou “ils”. On préfèrera également l’accord de proximité, qui consiste à accorder l’adjectif en fonction du nom le plus proche : les chapeaux et voitures sont vertes.
        </li>
        <li>
        Création de mots “neutres”, tels que celleuse (pour dire celles et ceux),  toutes (pour dire tous et toutes), iel/iels (pour dire ils et elles).
        </li>
    </ol>
    </article>
{% endblock %}