{% extends 'base.html.twig' %}


{% block main %}
    <style>
        #banner {
            min-height: 100vh;
        }
        p {
            color: white !important;
            width: 80%;
            margin-top: 100px;
            font-size: 16px;
        }
        #banner > a {
            margin-top: 20px;
            background-color: #e98b6c;
            padding: 10px 20px;
        }
        h3 {
            margin-top: 200px;
        }
        .last-a {
            margin-bottom: 50px;
        }
    </style>
    <article id="banner">
        <h3>Petite poissone - street art</h3>
        <img src="https://64.media.tumblr.com/08ab900cb3bd14adbf4a269bfadc6c9f/dfab0ba261e53b74-df/s1280x1920/9f645f812dbe0ce098f76b1c5eadc186f6a4b5f0.jpg" alt="photo" width="800" height="auto">
        <p>Toujours écrits avec la même calligraphie élégante et très identifiable, ses détournements poétiques humoristiques abordent autant les déboires amoureux que la critique sociale.
            “ De toutes façons je finirai vieille et moche alors, autant prendre de l’avance…”</p>
        <a href="https://www.petitepoissone.com/">Petite poissone</a>

        <h3>Guerilla Girls - groupe de féministes, d’activistes et d’artistes anonymes</h3>
        <img src="https://moed.online/wp-content/uploads/2018/05/Guerilla-Girls-Do-Women-Have-to-Be-Naked.jpg" alt="" width="800" height="auto">
        <p>Captant l’attention des spectateurs par un art audacieux agrémenté par des touches d’humour, ces œuvres font référence à la corruption sociale et aux préjugés de genre ou de race. En restant anonyme, les Guerrilla Girls mettent avant tout l’accent sur le message délivré par l’art : lutter contre la discrimination et soutenir les droits de l’homme pour TOUS. Le groupe présente souvent son travail sous forme de panneaux d’affichage, ce qui permet de capter facilement l’attention des spectateurs.
        </p>
        <a href="https://awarewomenartists.com/artiste/guerrilla-girls/">Guerilla girls</a>

        <h3>Frida Kahlo (1940) - Autorretrato con Pelo Cortado</h3>
        <img src="https://64.media.tumblr.com/8038eacac5dc9a88ddb8b3eea3b7ee4f/tumblr_o363la0ZgY1qfcut3o1_1280.jpg" alt="" width="800" height="auto">
        <p>Artiste peintre mexicaine du mouvement réalisme, Frida Kahlo porte une réflexion féministe  sur le genre et l’ambiguïté sexuelle. Avec ses nombreux autoportraits, l’artiste nous a livré une fine analyse du statut et de la condition des femmes de son époque. Elle a mené une œuvre dichotomique quant aux relations hommes-femmes. Son visage et son corps sont progressivement devenus les instruments de sa critique. Autorretrato con Pelo Cortado joue sur les complexités de la personnalité de Kahlo, reflétant la résistance de l’artiste face aux lois patriarcales du Mexique des années 1930-1950.
        </p>
        <a href="https://journals.openedition.org/clio/10836" class="last-a">Open edition journals</a>
    </article>
{% endblock %}
